#drop-login {
    height: 135px;
    width: 220px;
}

.login-label {
    height: 30px;
    width: 75px;
    padding: 0px 0px 0px 0px;
    font-family: "é»‘ä½“";
    font-weight: 500;
}

.login-input {
    height: 30px;
    width: 120px;
    font-family: "arial";
}

.login-button {
    font-family: "é»‘ä½“";
}

#form-login {
    margin-top: 10px;
}

#button-submit {
    margin-left: 20px;
    width: 52px;
    height: 32px;
}

.home-navbar {
    z-index: 2;
    border-top: 15px solid #00b7ee;
    font-size: 18px;
    font-family: "黑体";
    margin: 0px 0px 0px 0px;
}

.home-navbar-nav {
    margin-left: 520px;
}

.home-navbar-nav>li>a {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    margin-top: 40px;
    color: rgb(0, 0, 0);
}


.home-dropdown-tag {
    font-size: 14px;
    font-family: "é»‘ä½“";
    padding: 5px 10px 5px 25px;
    color: rgb(0, 0, 0);
}

.home-dropdown-tag:focus,
.home-dropdown-tag:hover {
    background-color: #00b7ee;
    text-decoration: none;
}

.home-dropdown-menu>a:hover,
.home-dropdown-menu>a:focus {
    text-decoration: none;
}

.home-dropdown-tag>p:focus,
.home-dropdown-tag>p:hover {
    text-decoration: none;
}

.home-dropdown-tag>p {
    margin-bottom: 5px;
}

.form-group {
    margin: 0px 0px 5px 0px;
}

.level-list {
    float: left;
}

.problem-set {
    float: right;
}

.help-block{
    margin: 0px 0px 0px 0px;
}

#input-remember {
    width: 25px;
    height: 25px;
}

.home-dropdown-menu>li {
    padding: 5px 5px 0px 5px;
}

.page {
    background-color: rgb(241, 241, 241);
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
}

.home-banner {
    position: absolute;
    width: 280px;
    margin-left: 190px;
    margin-right: 30px;
    margin-top: -15px;
    z-index: 1;
}

.super-title {
    margin-top: 45px;
    margin-right: -250px;
}

.super-title>p {
    font-size: 60px;
    text-align: center;
    font-family: "黑体";
    font-weight: bold;
}

.news-slide {
    background-color: white;
    height: 479px;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.slider-image {
    margin-left: auto;
    margin-right: auto;
}


.carousel-right {
    left: auto;
    right: 50px;
    position: absolute;
    background-image: none;
}

.arrow-right {
    width: 100px;
    height: 100px;
    top: 50%;
    position: absolute;
    margin-top: -50px;
    right: 10px;
    left: auto;
}

.carousel-left {
    left: 50px;
    right: auto;
    position: absolute;
    background-image: none;
}

.arrow-left {
    width: 100px;
    height: 100px;
    top: 50%;
    position: absolute;
    margin-top: -50px;
    left: 10px;
    right: auto;
}

.notice {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    width: 1160px;
    margin-top: -80px;
    height: 105px;
    border-bottom: 25px solid #00b7ee;
    margin-left: 70px;
    margin-right: 70px;
    margin-right: auto;
}

.notice-title {
    font-family: "黑体";
    font-size: 40px;
    color: white;
    margin: 0px 0px 0px 0px;
    padding: 18px 0px 18px 60px;
    float: left;
}

.notice-date {
    font-family: "黑体";
    font-size: 22px;
    color: white;
    float: right;
    margin-top: 45px;
    margin-right: 45px;
}

.image-box {
    height: 479px;
    width: 1300px;
    background-color: rgb(241,241,241);
}

.item {
    height: 504px;
}

.home-set {
    margin-left: auto;
    margin-right: auto;
    height: 420px;
    width: 1160px;
    background-color: white;
    margin-top: 95px;
}

.set-title {
    background-color: #00b7ee;
    height: 85px;
    width: 376px;
}

.set-title>ul>p {
    font-size: 30px;
    color: white;
    font-family: "黑体";
    float: left;
}

.set-title>ul {
    padding: 20px 0px 20px 0px;
}

.set-body {
    margin: 20px 20px 20px 20px;
    height: 290px;
    width: 336px;
}

.mini-set {
    width: 336px;
    height: 75px;
    border-bottom: 1px solid #cccccc;
    padding: 10px 0px 0px 12px;
}

.mini-title {
    font-size: 22px;
    font-family: "黑体";
}

.mini-state,
.mini-date {
    font-size: 14px;
    float: left;
}

.mini-set>ul>li {
    list-style: none;
    margin-bottom: 5px;
}

.mini-set>ul {
    padding: 0px 0px 0px 0px;
}

.mini-more {
    float: right;
    padding: 0px 10px 0px 0px;
    font-size: 14px;
}

.home-problems {
    float: left;
    margin: 0px 8px 0px 8px;
}

.home-news {
    float: left;
    margin: 0px 8px 0px 0px;
}

.diamond,
.trophy,
.star {
    height: 42px;
    width: 42px;
    float: left;
    margin-left: 20px;
    margin-right: 10px;
}

.home-competition {
    float: left;
    margin: 0px 0px 0px 8px;
}

.active-title,
.active-state,
.active-more {
    color: #d64a37;
}

.big-talk {
    background-color: white;
    height: 415px;
    width: 1440px;
    margin-top: 75px;
    padding: 100px 0px 0px 0px;
}

.big-talk-title {
    font-size: 40px;
    font-family: "黑体";
    float: left;
    margin-bottom: 0px;
}

.big-talk-frame {
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    height: 57px;
    padding: 0px 10px 0px 10px;
}

.trollollo-title {
    color: #d64a37;
}

.big-talk-subframe {
    color: #cdcdcd;
    font-size: 18px;
    font-family: "黑体";
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    margin-bottom: 20px;
}

.big-talk>ul>li {
    list-style: none;
}

.big-talk-text {
    float: left;
    margin-bottom: 0px;
}

.big-talk-body {
    margin-right: auto;
    margin-left: auto;
    font-size: 22px;
    height: 31px;
    font-family: "黑体";
}

#big-talk-body1 {
    width: 320px;
}

#big-talk-body2 {
    width: 450px;
}

#big-talk-body3 {
    width: 430px;
}

#big-talk-body4 {
    width: 200px;
    height: 65px;
    padding: 5px 5px 5px 5px;
}

.go-for-it {
    margin-left: auto;
    margin-right: auto;
    width: 190px;
    height: 53px;
    float: left;
    background-color: #00b7ee;
    border: none;
    color: white;
    margin-top: 10px;
}

.related-news {
    width: 1440px;
    height: 433px;
}

.news-title-box {
    color: #00b7ee;
    font-size: 30px;
    padding: 40px 0px 15px 150px;
    font-family: "黑体";
}

.news-image {
    width: 263px;
    height: 263px;
    border: 13px solid #ffffff;
    float: left;
}

.member-image{
    height: 263px;
    border: 13px solid #ffffff;
    float: left;
}

.news-image-box {
    width: 263px;
    height: 263px;
    float: left;
    overflow: hidden;
}

.news-box {
    height: 263px;
    width: 840px;
    float: left;
    margin-left: 30px;
}


.news-list-box,
.member-box{
    height: 263px;
    width: 760px;
    float: left;
    margin-left: 30px;
}

.related-news-body {
    margin-left: 150px;
}

.news-supertitle {
    font-size: 40px;
    font-family: "黑体";
    margin-top: 5px;
    margin-bottom: 0px;
}

.news-subtitle {
    font-size: 18px;
    font-family: "黑体";
}

.news-text {
    font-size: 18px;
    font-family: "黑体";
    margin-top: 20px;
    margin-bottom: 20px;
}

.news-more {
    font-size: 18px;
    font-family: "黑体";
    color: #d64a37;
}

.team-view {
    width: 1440px;
    height: 355px;
    background-color: #00b7ee;
}

.team-title-box {
    color: white;
    font-size: 30px;
    padding: 40px 0px 15px 150px;
    font-family: "黑体";
}

.team-view-body {
    margin-left: 150px;
}

.team-image-box {
    height: 150px;
    width: 150px;
    border: 10px solid #ffffff;
}

.team-member-name {
    font-size: 22px;
    color: white;
    font-family: "黑体";
    text-align: center;
    margin-bottom: 0px;
    margin-top: 5px;
}

.team-member-achievement {
    font-size: 14px;
    color: white;
    font-family: "黑体";
    text-align: center;
}

.team-view-frame {
    width: 160px;
    padding: 0px 5px 5px 5px;
    float: left;
    margin-left: 5px;
    margin-right: 25px;
}

.team-image {
    width: 130px;
    height: 130px;
}

.links {
    width: 1440px;
    height: 245px;
    background-color: white;
}

.links-title-box {
    color: #00b7ee;
    font-size: 30px;
    padding: 40px 0px 15px 150px;
    font-family: "黑体";
}

.links-image-box {
    height: 100px;
    width: 160px;
    float: left;
    margin-right: 20px;
    width: 360px;
}

.links-image {
    height: 100px;
    width: 160px;
    float: left;
}

.links-body {
    margin-left: 150px;
}

.links-name {
    font-size: 30px;
    font-family: "黑体";
    padding: 30px 0px 0px 20px;
    color: rgb(0, 0, 0);
    float: left;
}

.home-decorate-bottom {
    height: 65px;
    background-color: #333333;
    padding: 20px 0px 20px 0px;
}

.copyright {
    font-size: 18px;
    text-align: center;
    font-family: "微软雅黑";
    color: white;
}

#form-login {
	margin-top: 10px;
}

#button-submit {
	margin-left: 20px;
	width: 52px;
	height: 32px;
}

.container {
	font-size: 18px;
	font-family: "微软雅黑";
}

.contest-main {
	margin-left: auto;
	margin-right: auto;
	margin-top: 55px;
	width: 1440px;
	height: 950px;
	font-size: 18px;
	font-family: "微软雅黑";
	z-index: 1;
}

.login-label {
	height: 30px;
	width: 75px;
	padding: 0px 0px 0px 0px;
	font-family: "é»‘ä½“";
	font-weight: 500;
}

.login-input {
	height: 30px;
	width: 120px;
	font-family: "arial";
}

.login-button {
	font-family: "é»‘ä½“";
}

.other-navbar {
	z-index: 2;
	border-top: 15px solid #00b7ee;
	font-size: 18px;
	font-family: "黑体";
	margin: 0px 0px 0px 0px;
	background-color: rgb(72, 72, 72);
}

.other-navbar-nav {
	margin-left: 300px;
}

.other-navbar-nav>li>a {
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	margin-top: 12px;
	margin-bottom: 12px;
	color: white;
    /*color: rgb(0, 0, 0);*/
}

.other-navbar-nav>li>a:hover,
.other-navbar-nav>li>a:focus {
	background-color: rgb(90, 90, 90);
}

.other-navbar .open>a,
.other-navbar .open>a:focus,
.other-navbar .open>a:hover {
	background-color: rgb(90, 90, 90);
}


.other-dropdown-tag {
	font-size: 14px;
	font-family: "é»‘ä½“";
	padding: 5px 10px 5px 25px;
	color: rgb(0, 0, 0);
}

.other-dropdown-tag:focus,
.other-dropdown-tag:hover {
	background-color: #00b7ee;
	text-decoration: none;
}

.other-dropdown-menu>a:hover,
.other-dropdown-menu>a:focus {
	text-decoration: none;
}

.other-dropdown-tag>p:focus,
.other-dropdown-tag>p:hover {
	text-decoration: none;
}

.other-dropdown-tag>p {
	margin-bottom: 5px;
}

.other-dropdown-menu>li {
	padding: 5px 5px 0px 5px;
}

.form-group {
	margin: 0px 0px 5px 0px;
}


.level-list {
	float: left;
	margin-left: 140px;
	width: 230px;
}

.contest {
	float: left;
	margin-left: 40px;
}

.list-title>p {
	background-color: rgb(62, 53, 68);
	color: white;
	width: 230px;
	text-align: left;
	padding: 10px 0px 10px 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.panel-click>p {
	font-size: 20px;
	color: rgb(0, 0, 0);
}

.panel-image-box {
	height: 35px;
	width: 35px;
	float: left;
	padding: 10px 0px 0px 5px;
}

.panel-image {
	height: 35px;
	width: 35px;
}

.panel {
	border-width: 0px 0px 1px 0px;
	border-bottom: 1px solid #dddddd;
	padding: 0px 15px 0px 15px;
	margin-bottom: 0px;
}

.panel-title {
	padding: 15px 0px 0px 10px;
	float: left;
}

.panel-head {
	height: 62px;
}

.panel-click {
	width: 200px;
	height: 60px;
	padding: 5px 5px 0px 5px;
}

.tag-title {
	text-align: center;
	width: 170px;
	padding: 5px 5px 5px 5px;
	margin-bottom: 0px;
}

.tiny-level {
	padding: 5px 10px 5px 10px;
}

.document-tag {
	background-color: rgb(214, 74, 55);
	padding: 5px 10px 5px 10px;
}

#input-remember {
	width: 25px;
	height: 25px;
}



.contest-table-title {
	background-color: #00b7ee;
	text-align: center;
	padding: 0px 10px 0px 10px;
}

.contest-table-title>p {
	padding: 0px 10px 0px 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
}

.contest-table-text {
	padding: 13px 10px 5px 10px;
	background-color: white;
	text-align: center;
}

.contest-table-text>a,
.contest-table-text>p {
	margin-top: 10px;
	padding: 0px 10px 0px 10px;
}
.contest-table-text>p {
    margin-top: 10px;
    padding: 0px 10px 0px 10px;
}

.page {
	background-color: rgb(241, 241, 241);
	width: 1440px;
	height: 1260px;
}

.navbar-fixed-bottom {
	height: 65px;
	background-color: rgb(62, 53, 68);
	border-width: 10px 0px 0px 0px;
	border-color: #00b7ee;
}

.navbar-fixed-bottom>p {
	padding: 10px 0px 5px 0px;
	color: white;
	text-align: center;
}

.table-bordered {
	border-width: 0px 0px 1px 0px;
}

.panel-body {
	padding: 0px 0px 0px 0px;
	color: white;
	font-size: 16px;
	margin-bottom: 25px;
}

.problem-tag {
	background-color: #00b7ee;
	padding: 5px 10px 5px 10px;
}

.problem-tag>ul {
	padding: 0px 0px 0px 0px;
	margin: 8px 0px 8px 0px;
}

.problem-tag>ul>a {
	color: white;
	margin: 0px 0px 0px 2px;
}

.math-tag {
	background-color: rgb(252, 177, 49);
	padding: 5px 10px 5px 10px;
}

.video-tag {
	background-color: rgb(14, 165, 98);
	padding: 5px 10px 5px 10px;
}

.banner {
	position: absolute;
	height: 110px;
	margin-left: 190px;
	margin-right: 30px;
	margin-top: -15px;
	z-index: 1;
}

.help-block {
	margin: 0px 0px 0px 0px;
}

.page {
	background-color: rgb(241, 241, 241);
	margin-left: auto;
	margin-right: auto;
	width: 1440px;
}

.decorate-bottom {
	height: 65px;
	background-color: #333333;
	padding: 20px 0px 20px 0px;
	width: 1440px;
	margin-top: 110px;
}

.copyright {
	font-size: 18px;
	text-align: center;
	font-family: "微软雅黑";
	color: white;
}

.problem-title {
	padding-right: 120px;
}

.problem-text {
	text-align: left;
}

.status-accepted {
	color: red;
}

.status-accepted:focus,
.status-accepted:hover {
	color: red;
}

.status-failed {
	color: green;
}

.status-failed:focus,
.status-failed:hover {
	color: green;
}

.status-running {
    color: orange;
}

.status-running:focus,
.status-running:hover {
    color: orange;
}



.discuss-filter,
.contest-filter {
	width: 230px;
	float: left;
	background-color: white;
	margin-left: 140px;
}

.filter-head {
	height: 45px;
	background-color: #00b7ee;
}

.filter-head>p {
	background-color: rgb(62, 53, 68);
	color: white;
	width: 230px;
	text-align: left;
	padding: 10px 0px 10px 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.filter-body {
	padding: 10px 20px 10px 20px;
}

.filter-box {
	margin-bottom: 20px;
}

.filter-input {
	width: 190px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 15px;
	height: 31px;
}

.submit-select{
    width: 190px;
    height: 31px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
}

.filter-select {
	width: 190px;
	height: 31px;
	font-size: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

.submit-textarea{
    margin-left: 120px;
}



.submit-submit{
    width: 190px;
    height: 40px;
    background-color: #00b7ee;
    border: none;
    margin-left: 240px;
}

.filter-submit {
	width: 190px;
	height: 40px;
	background-color: #00b7ee;
	border: none;
}

.contest-name {
	padding-right: 30px;
}

.contest-text {
	text-align: left;
}

.contest-view-main {
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	width: 1440px;
	font-size: 18px;
	font-family: "微软雅黑";
	z-index: 1;
}

.status {
	/*float: left;*/
	margin-left: 40px;
}

.table-title {
	background-color: #00b7ee;
	text-align: center;
	padding: 0px 20px 0px 20px;
}

.table-title>p {
	padding: 0px 15px 0px 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
}

.table-text {
	padding: 13px 20px 5px 20px;
	background-color: white;
	text-align: center;
}

.table-text>a,
.table-text>p {
	margin-top: 10px;
	padding: 0px 15px 0px 15px;
}

.decorate-bottom {
	height: 65px;
	background-color: #333333;
	padding: 20px 0px 20px 0px;
	width: 1440px;
	margin-top: 10px;
}

.contest-view-subtitle {
	padding-right: 120px;
	font-family: "黑体", sans-serif;
}

.contest-view-text {
	text-align: left;
	font-family: \5B8B\4F53,Arial Narrow,arial,serif;
	font-weight: 500;
}

.status-filter {
	width: 230px;
	float: left;
	background-color: white;
	margin-left: 140px;
}

.detail-paper,
.answer-submit-paper,
.contest-view-paper {
	width: 1440px;
	height: 1000px;
	padding-top: 80px;
	padding-bottom: 160px;
	background-color: white;
}

.contest-view-body {
	width: 720px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px 40px 10px 40px;
	border-bottom: 1px solid #cccccc;
}

.contest-view-title {
	font-size: 30px;
	color: rgb(0, 0, 0);
	width: 720px;
	margin-right: auto;
	margin-left: auto;
}

.contest-view-subtitle {
	font-size: 25px;
	color: rgb(0, 0, 0);
}

.contest-view-body>ul>li {
	list-style: none;
	margin-bottom: 20px;
}

.contest-view-body>ul {
	margin-right: 40px;
}

.contest-view-label {
	width: 230px;
	float: left;
}

.contest-view-input {
	width: 190px;
	height: 31px;
	margin-left: 20px;
	font-size: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

.contest-view-radio {
	margin: 0px 0px 0px 20px;
	float: left;
}

.contest-view {
	width: 160px;
	height: 40px;
	background-color: #00b7ee;
	border-width: 0px;
	margin-left: 650px;
	margin-top: 20px;
}

.problem-submit {
	width: 160px;
	height: 40px;
	background-color: #00b7ee;
	border-width: 0px;
	float: left;
	margin-left: -100px;
	color: white;
}

.view-title {
	float: left;
	margin-left: 310px;
}

.contest-view-body>a {
	padding: 10px 0px 10px 0px;
}

.problem-table>tbody>tr>td,
.view-table>tbody>tr>td {
	border: 15px solid white;
}

.discuss {
	width: 160px;
	height: 40px;
	background-color: #d9d9d9;
	border: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: rgb(0, 0, 0);
}


.problem-table>thead,
.view-table>thead {
	border-top: 20px solid white;
}

.problem-table,
.view-table{
	text-align: center;
}

.problem-table>thead>tr>th,
.view-table>thead>tr>th {
	text-align: center;
}

.problem-main {
	margin-left: auto;
	margin-right: auto;
	margin-top: 55px;
	width: 1440px;
	height: 950px;
	font-size: 18px;
	font-family: "微软雅黑";
	z-index: 1;
}

.problem-set {
	float: left;
	margin-left: 40px;
}

.problem-table-title,
.view-table-title {
	background-color: #00b7ee;
	text-align: center;
	padding: 0px 12px 0px 12px;
}

.problem-table-title>p,
.view-table-title>p {
	padding: 0px 15px 0px 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
}

.problem-table-text,
.view-table-text {
	padding: 13px 12px 5px 12px;
	background-color: white;
	text-align: center;
}

.problem-table-text>a,
.problem-table-text>p,
.view-table-text>a,
.view-table-text>p {
	margin-top: 10px;
	padding: 0px 15px 0px 15px;
}

.problem-thead {
	padding-right: 120px;
}

.problem-tbody {
	text-align: left;
}

.member-main,
.news-list-main,
.discuss-view-main,
.discuss-main,
.result-main,
.detail-main,
.answer-submit-main,
.submit-main,
.code-main,
.problem-view-main {
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	width: 1440px;
	font-size: 18px;
	font-family: "微软雅黑";
	z-index: 1;
}

.problem-view-decorate-bottom {
	height: 65px;
	background-color: #333333;
	padding: 20px 0px 20px 0px;
	width: 1440px;
}

.problem-view-subtitle {
	padding-right: 120px;
	font-family: "黑体", sans-serif;
}

.view-text {
	text-align: left;
	font-family: \5B8B\4F53,Arial Narrow,arial,serif;
	font-weight: 500;
}

.view-paper{
	width: 1440px;
	padding-top: 80px;
	padding-bottom: 160px;
	background-color: white;
}

.view-body{
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px 40px 10px 40px;
	border-bottom: 1px solid #cccccc;
}

.member-title,
.news-list-title,
.discuss-view-title,
.discuss-title,
.result-title,
.detail-title,
.answer-submit-title,
.submit-title,
.code-title,
.problem-view-title{
	font-size: 30px;
	color: rgb(0, 0, 0);
	width: 720px;
}

.view-subtitle{
	font-size: 25px;
	color: rgb(0, 0, 0);
}

.problem-view-body>ul>li{
	list-style: none;
	margin-bottom: 20px;

}


.problem-view-body>ul{
	margin-right: 40px;

}

.problem-view-label{
	width: 230px;
	float: left;
}

.problem-view-input{
	width: 190px;
	height: 31px;
	margin-left: 20px;
	font-size: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

.problem-view-radio{
	margin: 0px 0px 0px 20px;
	float: left;
}

.problem-view{
	width: 160px;
	height: 40px;
	background-color: #00b7ee;
	border-width: 0px;
	margin-left: 650px;
	margin-top: 20px;
}

.main {
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	width: 1440px;
	height: 950px;
	font-size: 18px;
	font-family: "微软雅黑";
	z-index: 1;
}

.submit-paper,
.register-paper {
	width: 1440px;
	/*height: 1060px;*/
	padding-top: 50px;
	background-color: white;
}

.submit-body,
.register-body {
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 50px;
	border-bottom: 1px solid #cccccc;
}

.register-title {
	font-size: 30px;
	color: rgb(0, 0, 0);
	width: 720px;
	margin-right: auto;
	margin-left: auto;
}

.submit-body>ul>li,
.register-body>ul>li {
	list-style: none;
	margin-bottom: 20px;
}

.submit-label,
.register-label {
	width: 230px;
	text-align: right;
	float: left;
}

.submit-input,
.register-input {
	width: 190px;
	height: 31px;
	margin-left: 20px;
	font-size: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

.register-radio {
	margin: 0px 0px 0px 20px;
	float: left;
}

.register {
	width: 160px;
	height: 40px;
	background-color: #00b7ee;
	border-width: 0px;
	margin-left: 560px;
	margin-top: 20px;
}

.status-main {
	margin-left: auto;
	margin-right: auto;
	margin-top: 55px;
	width: 1440px;
	height: 950px;
	font-size: 18px;
	font-family: "微软雅黑";
	z-index: 1;
}


.status-table-title {
	background-color: #00b7ee;
	text-align: center;
	padding: 0px 20px 0px 20px;
}

.status-table-title>p {
	padding: 0px 15px 0px 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
}

.status-table-title>p>a {
    color: white;
}

.status-table-text {
	/*padding: 13px 20px 5px 20px;*/
    padding: 0px 20px 0px 20px;
	background-color: white;
	text-align: center;
}

.status-table-text>a,
.status-table-text>p {
	margin-top: 10px;
	padding: 0px 15px 0px 15px;
}

.divScroll{
    width: 820px !important;
    overflow:auto;
    overflow-y:auto;
    scrollbar-face-color: #FFFFFF;
    scrollbar-shadow-color: #D2E5F4;
    scrollbar-highlight-color: #D2E5F4;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF; 
    scrollbar-arrow-color: #D2E5F4;
}

.answer-submit-input{
    width: 220px;
    height: 40px;
    background-color: #00b7ee;
    border-width: 0px;
    color: white;
    margin-left: 40px;
}

.answer-submit-text{
    margin-left: 40px;
}

.detail-textarea{
    font-family: "黑体";
    font-size: 18px;
    margin-left: 40px;
    border: none;
}

.result-view-body{
    width: 1150px !important;
}

.result-view-table-body>td{
    padding: 10px 0px 10px 0px;
}

.result-view-table-title>td{
    padding: 0px 0px 20px 0px;
}


.result-view-table-title>td{
    color: rgb(0, 0, 0);
    font-weight: 700;
}
.result-view-table-title>td>a{
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.table-shadow{
    background-color: rgb(225, 225, 225);
}

.normal>a{
    color: rgb(0, 0, 0);
}

.discuss-table-body>td{
    padding: 5px 20px 5px 20px;
}

.discuss-view-body,
.discuss-body{
    width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 40px 10px 40px;
    border-bottom: 1px solid #cccccc;
}

.discuss-table-problem-id{
    width: 10%;
    font-weight: 700;
    padding-bottom: 20px;
}

.discuss-table-vote{
    width: 10%;
    font-weight: 700;
    padding-bottom: 20px;
}

.discuss-table-title{
    font-weight: 700;
    padding-bottom: 20px;
}

.discuss-table-owner{
    width: 20%;
    font-weight: 700;
    padding-bottom: 20px;
}

.inside>a{
    color: rgb(0, 0, 0);
}

.discuss-table-body>td>div>a{
    color: rgb(0, 0, 0);
}

.discuss-view-table-body>td>div>a{
    color: rgb(0, 0, 0);
}

.discuss-view-table-body>td>font>a{
    color: rgb(0, 0, 0);
}

.pagination-box{
    padding: 20px 300px 10px 300px;
}

.discuss-view-floor{
    color: #00b7ee;
}

.discuss-view-td{
    padding: 10px 15px 10px 15px !important;
}

#owner{
    background-color: #C2DFFF;
}

.view-tr{
    border: 10px solid ;
}

.team-event-body,
.news-view-body {
    width: 1400px;
}

.listed-news {
    height: 300px;
}

.team-event {
    height: 450px;
}

.team-event-image-box {
    width: 500px;
}

.team-event-image {
    width: 500px;
    float: left;
}

.team-event-box {
    height: 263px;
    width: 500px;
    float: left;
    margin-left: 30px;
}

.team-event-supertitle {
    font-size: 25px;
    font-family: "黑体";
    margin-top: 5px;
    margin-bottom: 0px;
}